.navegacao{
    
    width: 100%;
    height: 35px;
    background-color: white;
    position: absolute;
    bottom: 0;
}

.center-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons{
    padding-top: 2px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casa{
    padding: 0px 60px 0px 60px;
}

a{
    color: black;
}