*{
    background-color: #9f82e6;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 18px;
}

.img-pulmao{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login{
    height: 100vh;
    padding: 25px;
    
}

.email-senha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img{
    vertical-align: middle;
    background: #e9ecef;
}

.col-md-4 {
    width: 100%;
    height: 32px;
    max-width: 500px;
    margin-top: 30px;
}

.btn-acessar{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 200px;
    color: black;
    font-weight: bold;
    background-color: #4cf27c;
    border: none;
}
.btn:hover{
    background-color: green;
    color: white;
}
/*DIV DO "ESQUECEU SENHA" E "CADASTRAR"*/
.esqueceu-cadastrar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    
}
a.esqueceu-cadastrar{
    text-decoration: none;
    text-decoration: underline;
    font-size: 18px;
    color:black;
    padding: 4px;
    
}

/* PARA O SCROL FICA CERTINHO*/
@media (max-width: 769px){
    #btn-acessar{
        margin-top: 30px;
    }
    #esqueceu-cadastrar{
        margin-top: 25px;
    }
    .input-group{
        margin-top: 20px;
    }
}

