body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    overflow-y: auto;
}

header{
    height: 50vh;
    background-color: aqua;
}

main{
    height: 50vh;
    background-color: beige;
}
footer{
    height: 50vh;
    background-color: aquamarine;
}

