.menu {
    border: 2px solid gray;
    padding: 6px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
