* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#b8ffaa, #82c4fd);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
}


.img{
    display: none;
    align-items: center;
    justify-content: center;
}

.img1024{
    display: flex;
}

@media(max-width: 1024px) {
    .img{
        display: none;
    }
    .img1024{
        display: flex;
    }
}

@media(max-width: 768px) {
    .img{
        display: none;
    }
    .img768{
        display: flex;
    }
}

@media(max-width: 425px) {
    .img{
        display: none;
    }
    .img425{
        display: flex;
    }

}

@media(max-width: 375px) {
    .img{
        display: none;
    }
    .img375{
        display: flex;
    }
    
}

@media only screen and (max-width: 320px) {
    .img{
        display: none;
    }
    
    .img320{
        display: flex;
    }
}