@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;400&display=swap');

* {
    font-family: 'Roboto', sans-serif !important;
    padding: 0;
    margin: 0;
}

h1 {
    color: #9f82e6;

}

body{
    background: linear-gradient(#b8ffaa, #82c4fd);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
   
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {

    display: flex;
    align-items: center;
    flex-direction: column;

}

.form, form { 
    text-align: justify;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 95%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 30px 10px 10px 10px;

}

label {
    width: 95%;
    max-width: 600px;
    margin-top: 10px;
    padding: 10px 3px 10px 3px;
    display: flex;

    border: 1px solid black;
    word-break: break-word;
    border-radius: 10px;


}

label:hover {
    cursor: pointer;
}


input[type=radio] {
    display: none;
}

input:checked+label {
    transition: all 0.5s ease-in-out;
    color: white;
    background-color: dodgerblue;
}

.red+label{
    transition: all 0.5s ease-in-out;
    color: white;
    background-color: red !important;
}

.green+label{
    transition: all 0.5s ease-in-out;
    color: white;
    background-color: green !important;
}

input[type="button"]{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #4cf27c;
    font-weight: 600;
    font-size: 1em;
    background-color: #4cf27c;
    height: 40px;
    cursor: pointer;
    margin-top: 40px;
    width: 35%;
}
input[type="submit"]:hover {
    background: transparent;;
}


a.btn{
    text-decoration: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
}

.img{
    margin-top: 20px;
    width: 50%;
}

p{
    margin-top: 10px;
    font-size: 0.7em;
    text-align: right;
}