#mid1 {
    margin-top: 80px;
}

#text1 {
    margin-right: 20px;
    max-width: 500px;
    font-size: 20px;
    color: white;
    margin: auto;

}

/*@media para a img se adaptar*/
@media(max-width: 1024px) {
    .imgAvatar1 {
        max-width: 160px;
    }

}

@media(max-width: 768px) {
    .imgAvatar1 {
        max-width: 150px;
    }

}

@media(max-width: 425px) {
    .imgAvatar1 {
        max-width: 145px;
    }

}

@media(max-width: 375px) {
    .imgAvatar1 {
        max-width: 140px;
    }

}

@media(max-width:320px) {
    .imgAvatar1 {
        max-width: 130px;
    }

}