* {
    background-color: #9f82e6;
    
}


#aaa{
    padding-top: 200px;
}

h1 {
    
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-close {
    background-color: white;
}

.btn-fechar {
    margin-top: 5px;
    float: left;
}

/*PRO ICON NÃO FICAR ROXO*/
.bi {
    background-color: #e9ecef;
    
}

/*SELECTION QUE FICA O FORM*/
.form-cadastro {
    display: flex;
    justify-content: center;
   
}

.container{
    height: 100vh;
    padding: 25px;
    width: 100%;
    max-width: 600px;
}

/*CLASSE DOS INPUT*/
.col-md-4 {
    width: 100%;
    height: 32px;
    max-width: 500px;
    margin-top: 30px;
}

/*DIV QUE FICA OS INPUT*/
.campos-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*CLASSE DO BOTÃO*/
.btn-cadastar {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border: none;
    color: black;
    background-color: #4cf27c;
    font-weight: bold;
    width: 200px;
}

.btn:hover {
    background-color: green;
    color: white;
}

.img{
    vertical-align: middle;
    background: #e9ecef;
}

.form-control{
    box-shadow: none;
}

.img-pulmao{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#esqueceu-cadastrar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    
}

a.esqueceu-cadastrar{
    text-decoration: none;
    text-decoration: underline;
    font-size: 18px;
    color:black;
    padding: 4px;
    
}


/* PARA O SCROL FICA CERTINHO*/
@media (max-width: 769px){
    #btn-acessar{
        margin-top: 30px;
    }
    #esqueceu-cadastrar{
        margin-top: 25px;
    }
    .input-group{
        margin-top: 20px;
    }
}


